@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using WebApplication.Models

@model IEnumerable<User>


@{
    ViewBag.Title = "Hello";
    Layout = "_Layout";
}



        <h2>Welcome, @ViewData["Name"]</h2>
 
